body{
    background-color: black;
    color: bisque;
    overflow: hidden;
    height: 95vh;
}
.play{
    width:100%;
    height: auto;
    margin: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: Helvetica;
};
p .choice{
    width:100%;
    height: auto;
    margin: 10px;
    text-align: center;
    justify-content: center;
    
}
.choice{
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 500;
    font-style: italic;
}
#scoreboard{
    display: flex;
    width: 700px;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
    border: solid beige 3px;
};


div{
    width: 100%;
    height: auto;
    align-items: center;
}
.btn-container{
    display: flex;
    margin: auto;
    margin-left: 200px;
    margin-right: 200px;
    padding: auto;
    flex-direction: row;
    justify-content:space-around;
}
.btn-class{
    display: flex;
    flex-direction: column;
}
.btn{
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    font-size: 30px;
    font-weight: 600;
    font-family: Helvetica;
    color: beige;
    background-color: black;
    border: solid 3px beige;
    border-radius: 10px;
}

img{
    max-width: 200px;
}
.container{
    display: block;
    max-width: 50%;
    height: max-content;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: Helvetica;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: solid beige 3px;
    border-radius: 5px;
    background-color: beige;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: beige;
    color: black;
    border: solid 3px silver;
    transform: scale(1.2);
}

.reset-class{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}
#reset-btn{
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    padding: 15px;
    background-color:darksalmon;
    color: black;
    border: solid 5px;
    border-radius: 25px;
}
#reset-btn:hover{
    background-color: black;
    color: beige;
    border: solid 2px beige ;
}
